In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train_AUpWtIz/train.csv')
campaign_data = pd.read_csv('train_AUpWtIz/campaign_data.csv')
coupon_item_mapping = pd.read_csv('train_AUpWtIz/coupon_item_mapping.csv')
customer_demographics = pd.read_csv('train_AUpWtIz/customer_demographics.csv')
customer_transaction_data = pd.read_csv('train_AUpWtIz/customer_transaction_data.csv',mangle_dupe_cols=True,nrows=463598)
item_data = pd.read_csv('train_AUpWtIz/item_data.csv')

In [3]:
print(len(train))
train.info()

78369
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 5 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
dtypes: int64(5)
memory usage: 3.0 MB

In [4]:
print(len(campaign_data))
campaign_data.info()

28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
campaign_id      28 non-null int64
campaign_type    28 non-null object
start_date       28 non-null object
end_date         28 non-null object
dtypes: int64(1), object(3)
memory usage: 976.0+ bytes

In [5]:
print(len(coupon_item_mapping))
coupon_item_mapping.info()

92663
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 2 columns):
coupon_id    92663 non-null int64
item_id      92663 non-null int64
dtypes: int64(2)
memory usage: 1.4 MB

In [6]:
print(len(customer_demographics))
customer_demographics.info()

760
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 7 columns):
customer_id       760 non-null int64
age_range         760 non-null object
marital_status    431 non-null object
rented            760 non-null int64
family_size       760 non-null object
no_of_children    222 non-null object
income_bracket    760 non-null int64
dtypes: int64(3), object(4)
memory usage: 41.6+ KB

In [7]:
print(len(customer_transaction_data))
customer_transaction_data.info()

463598
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463598 entries, 0 to 463597
Data columns (total 7 columns):
date               463598 non-null object
customer_id        463598 non-null int64
item_id            463598 non-null int64
quantity           463598 non-null int64
selling_price      463598 non-null float64
other_discount     463598 non-null float64
coupon_discount    463598 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 24.8+ MB

In [8]:
print(len(item_data))
item_data.info()

74066
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74066 entries, 0 to 74065
Data columns (total 4 columns):
item_id       74066 non-null int64
brand         74066 non-null int64
brand_type    74066 non-null object
category      74066 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [9]:
df_customer = pd.merge(train,customer_transaction_data,on='customer_id',how='inner')

In [10]:
df_customer = pd.merge(df_customer,customer_demographics,on='customer_id',how='inner')

In [11]:
df_train_capaign_data = pd.merge(df_customer,campaign_data,how='inner',on='campaign_id')

In [12]:
df_item = pd.merge(coupon_item_mapping,item_data,how='inner',on='item_id')

In [13]:
df_train_capaign_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18471244 entries, 0 to 18471243
Data columns (total 20 columns):
id                   int64
campaign_id          int64
coupon_id            int64
customer_id          int64
redemption_status    int64
date                 object
item_id              int64
quantity             int64
selling_price        float64
other_discount       float64
coupon_discount      float64
age_range            object
marital_status       object
rented               int64
family_size          object
no_of_children       object
income_bracket       int64
campaign_type        object
start_date           object
end_date             object
dtypes: float64(3), int64(9), object(8)
memory usage: 2.9+ GB

In [14]:
#df_customer.to_csv("df3.csv",index_label=False)

In [15]:
df_train_capaign_data.drop_duplicates(inplace=True)

In [16]:
df_train_capaign_data.duplicated().sum()

0

In [17]:
df_train_capaign_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 20 columns):
id                   int64
campaign_id          int64
coupon_id            int64
customer_id          int64
redemption_status    int64
date                 object
item_id              int64
quantity             int64
selling_price        float64
other_discount       float64
coupon_discount      float64
age_range            object
marital_status       object
rented               int64
family_size          object
no_of_children       object
income_bracket       int64
campaign_type        object
start_date           object
end_date             object
dtypes: float64(3), int64(9), object(8)
memory usage: 2.9+ GB

In [18]:
del train
del campaign_data
del coupon_item_mapping
del customer_demographics
del customer_transaction_data
del item_data
del df_customer
#del df_customer

In [19]:
#df_train_capaign_data.merge(df_item,on='coupon_id').to_csv('your_coupon.csv', index=False)

In [20]:
#df.info()

NameError: name 'df' is not defined

In [21]:
df_train_capaign_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 20 columns):
id                   int64
campaign_id          int64
coupon_id            int64
customer_id          int64
redemption_status    int64
date                 object
item_id              int64
quantity             int64
selling_price        float64
other_discount       float64
coupon_discount      float64
age_range            object
marital_status       object
rented               int64
family_size          object
no_of_children       object
income_bracket       int64
campaign_type        object
start_date           object
end_date             object
dtypes: float64(3), int64(9), object(8)
memory usage: 2.9+ GB

In [22]:
df_train_capaign_data.describe(percentiles=[0.25,0.50,0.75,0.80,0.85,0.90,0.95])

,id,campaign_id,coupon_id,customer_id,redemption_status,item_id,quantity,selling_price,other_discount,coupon_discount,rented,income_bracket
count,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07
mean,6.442127e+04,1.435036e+01,5.790724e+02,8.204613e+02,1.552945e-02,2.821124e+04,1.452305e+02,1.168729e+02,-1.827326e+01,-6.623755e-01,6.207084e-02,5.012994e+00
std,3.710024e+04,8.255666e+00,3.262845e+02,4.701047e+02,1.236458e-01,1.645075e+04,1.418386e+03,1.554888e+02,3.742342e+01,7.596996e+00,2.412842e-01,2.537905e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,3.600000e-01,-2.340230e+03,-7.124000e+02,0.000000e+00,1.000000e+00
25%,3.257900e+04,8.000000e+00,3.050000e+02,4.220000e+02,0.000000e+00,1.447500e+04,1.000000e+00,5.236000e+01,-2.458000e+01,0.000000e+00,0.000000e+00,4.000000e+00
50%,6.434400e+04,1.300000e+01,6.080000e+02,8.010000e+02,0.000000e+00,2.570900e+04,1.000000e+00,8.157000e+01,-3.560000e+00,0.000000e+00,0.000000e+00,5.000000e+00
75%,9.670100e+04,1.300000e+01,8.680000e+02,1.259000e+03,0.000000e+00,3.676400e+04,1.000000e+00,1.246700e+02,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
80%,1.030760e+05,2.600000e+01,9.130000e+02,1.339000e+03,0.000000e+00,4.627400e+04,1.000000e+00,1.421200e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00
85%,1.094460e+05,2.700000e+01,9.700000e+02,1.392000e+03,0.000000e+00,4.930600e+04,2.000000e+00,1.738300e+02,0.000000e+00,0.000000e+00,0.000000e+00,8.000000e+00
90%,1.158840e+05,2.900000e+01,1.012000e+03,1.460000e+03,0.000000e+00,5.367400e+04,2.000000e+00,2.130100e+02,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+00
95%,1.222540e+05,3.000000e+01,1.058000e+03,1.489000e+03,0.000000e+00,5.881100e+04,3.000000e+00,2.913700e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+01
max,1.285920e+05,3.000000e+01,1.115000e+03,1.581000e+03,1.000000e+00,6.779800e+04,8.505500e+04,7.480200e+03,0.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01

In [23]:
df_train_capaign_data.columns

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status',
       'date', 'item_id', 'quantity', 'selling_price', 'other_discount',
       'coupon_discount', 'age_range', 'marital_status', 'rented',
       'family_size', 'no_of_children', 'income_bracket', 'campaign_type',
       'start_date', 'end_date'],
      dtype='object')

In [24]:
col = ['id','coupon_id','redemption_status',
       'date', 'quantity', 'selling_price', 'other_discount',
       'coupon_discount', 'age_range', 'marital_status', 'rented',
       'family_size', 'no_of_children', 'income_bracket', 'campaign_type',
       'start_date', 'end_date']

In [25]:
df_train_capaign_data[col].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 17 columns):
id                   int64
coupon_id            int64
redemption_status    int64
date                 object
quantity             int64
selling_price        float64
other_discount       float64
coupon_discount      float64
age_range            object
marital_status       object
rented               int64
family_size          object
no_of_children       object
income_bracket       int64
campaign_type        object
start_date           object
end_date             object
dtypes: float64(3), int64(6), object(8)
memory usage: 2.5+ GB

In [26]:
df_train_capaign_data = df_train_capaign_data[col]

In [27]:
#df_train_capaign_data.merge(df_item,on='coupon_id',how='inner')

In [28]:
df_train_capaign_data.describe()

,id,coupon_id,redemption_status,quantity,selling_price,other_discount,coupon_discount,rented,income_bracket
count,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07
mean,6.442127e+04,5.790724e+02,1.552945e-02,1.452305e+02,1.168729e+02,-1.827326e+01,-6.623755e-01,6.207084e-02,5.012994e+00
std,3.710024e+04,3.262845e+02,1.236458e-01,1.418386e+03,1.554888e+02,3.742342e+01,7.596996e+00,2.412842e-01,2.537905e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,3.600000e-01,-2.340230e+03,-7.124000e+02,0.000000e+00,1.000000e+00
25%,3.257900e+04,3.050000e+02,0.000000e+00,1.000000e+00,5.236000e+01,-2.458000e+01,0.000000e+00,0.000000e+00,4.000000e+00
50%,6.434400e+04,6.080000e+02,0.000000e+00,1.000000e+00,8.157000e+01,-3.560000e+00,0.000000e+00,0.000000e+00,5.000000e+00
75%,9.670100e+04,8.680000e+02,0.000000e+00,1.000000e+00,1.246700e+02,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
max,1.285920e+05,1.115000e+03,1.000000e+00,8.505500e+04,7.480200e+03,0.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01

In [29]:
#df_train_capaign_data.pop('item_id')

In [30]:
df_train_capaign_data.describe()

,id,coupon_id,redemption_status,quantity,selling_price,other_discount,coupon_discount,rented,income_bracket
count,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07,1.844470e+07
mean,6.442127e+04,5.790724e+02,1.552945e-02,1.452305e+02,1.168729e+02,-1.827326e+01,-6.623755e-01,6.207084e-02,5.012994e+00
std,3.710024e+04,3.262845e+02,1.236458e-01,1.418386e+03,1.554888e+02,3.742342e+01,7.596996e+00,2.412842e-01,2.537905e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,3.600000e-01,-2.340230e+03,-7.124000e+02,0.000000e+00,1.000000e+00
25%,3.257900e+04,3.050000e+02,0.000000e+00,1.000000e+00,5.236000e+01,-2.458000e+01,0.000000e+00,0.000000e+00,4.000000e+00
50%,6.434400e+04,6.080000e+02,0.000000e+00,1.000000e+00,8.157000e+01,-3.560000e+00,0.000000e+00,0.000000e+00,5.000000e+00
75%,9.670100e+04,8.680000e+02,0.000000e+00,1.000000e+00,1.246700e+02,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
max,1.285920e+05,1.115000e+03,1.000000e+00,8.505500e+04,7.480200e+03,0.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01

In [31]:
df = df_train_capaign_data.copy()

In [32]:
del df_train_capaign_data

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 17 columns):
id                   int64
coupon_id            int64
redemption_status    int64
date                 object
quantity             int64
selling_price        float64
other_discount       float64
coupon_discount      float64
age_range            object
marital_status       object
rented               int64
family_size          object
no_of_children       object
income_bracket       int64
campaign_type        object
start_date           object
end_date             object
dtypes: float64(3), int64(6), object(8)
memory usage: 2.5+ GB

In [34]:
df.columns

Index(['id', 'coupon_id', 'redemption_status', 'date', 'quantity',
       'selling_price', 'other_discount', 'coupon_discount', 'age_range',
       'marital_status', 'rented', 'family_size', 'no_of_children',
       'income_bracket', 'campaign_type', 'start_date', 'end_date'],
      dtype='object')

In [35]:
df.head()

,id,coupon_id,redemption_status,date,quantity,selling_price,other_discount,coupon_discount,age_range,marital_status,rented,family_size,no_of_children,income_bracket,campaign_type,start_date,end_date
0,1,27,0,2012-01-10,1,320.22,0.00,0.0,46-55,NaN,0,1,NaN,5,X,19/05/13,05/07/13
1,1,27,0,2012-01-10,1,89.05,-10.33,0.0,46-55,NaN,0,1,NaN,5,X,19/05/13,05/07/13
2,1,27,0,2012-01-10,1,99.38,-42.74,0.0,46-55,NaN,0,1,NaN,5,X,19/05/13,05/07/13
3,1,27,0,2012-01-10,2,99.02,0.00,0.0,46-55,NaN,0,1,NaN,5,X,19/05/13,05/07/13
4,1,27,0,2012-02-04,2,99.02,0.00,0.0,46-55,NaN,0,1,NaN,5,X,19/05/13,05/07/13

In [36]:
df['marital_status'].value_counts()/len(df)

Married    0.445708
Single     0.138337
Name: marital_status, dtype: float64

In [37]:
#customer_demographics['marital_status'].value_counts()/len(customer_demographics)

In [38]:
#customer_demographics['marital_status'].unique()

In [39]:
df['no_of_children'].value_counts()/len(df)

1     0.161229
3+    0.108504
2     0.094708
Name: no_of_children, dtype: float64

In [40]:
#customer_demographics['no_of_children'].value_counts()/len(customer_demographics)

In [41]:
round((df.isna().sum()/len(df))*100,2)

id                    0.00
coupon_id             0.00
redemption_status     0.00
date                  0.00
quantity              0.00
selling_price         0.00
other_discount        0.00
coupon_discount       0.00
age_range             0.00
marital_status       41.60
rented                0.00
family_size           0.00
no_of_children       63.56
income_bracket        0.00
campaign_type         0.00
start_date            0.00
end_date              0.00
dtype: float64

In [42]:
df['start_date'] = pd.to_datetime(df['start_date'],format='%d/%m/%y')

In [43]:
df.head()

,id,coupon_id,redemption_status,date,quantity,selling_price,other_discount,coupon_discount,age_range,marital_status,rented,family_size,no_of_children,income_bracket,campaign_type,start_date,end_date
0,1,27,0,2012-01-10,1,320.22,0.00,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,05/07/13
1,1,27,0,2012-01-10,1,89.05,-10.33,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,05/07/13
2,1,27,0,2012-01-10,1,99.38,-42.74,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,05/07/13
3,1,27,0,2012-01-10,2,99.02,0.00,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,05/07/13
4,1,27,0,2012-02-04,2,99.02,0.00,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,05/07/13

In [44]:
df['end_date'] = pd.to_datetime(df['end_date'],format='%d/%m/%y')
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

In [45]:
df.head()

,id,coupon_id,redemption_status,date,quantity,selling_price,other_discount,coupon_discount,age_range,marital_status,rented,family_size,no_of_children,income_bracket,campaign_type,start_date,end_date
0,1,27,0,2012-01-10,1,320.22,0.00,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,2013-07-05
1,1,27,0,2012-01-10,1,89.05,-10.33,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,2013-07-05
2,1,27,0,2012-01-10,1,99.38,-42.74,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,2013-07-05
3,1,27,0,2012-01-10,2,99.02,0.00,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,2013-07-05
4,1,27,0,2012-02-04,2,99.02,0.00,0.0,46-55,NaN,0,1,NaN,5,X,2013-05-19,2013-07-05

In [46]:
round((df.isna().sum()/len(df))*100,2)

id                    0.00
coupon_id             0.00
redemption_status     0.00
date                  0.00
quantity              0.00
selling_price         0.00
other_discount        0.00
coupon_discount       0.00
age_range             0.00
marital_status       41.60
rented                0.00
family_size           0.00
no_of_children       63.56
income_bracket        0.00
campaign_type         0.00
start_date            0.00
end_date              0.00
dtype: float64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 17 columns):
id                   int64
coupon_id            int64
redemption_status    int64
date                 datetime64[ns]
quantity             int64
selling_price        float64
other_discount       float64
coupon_discount      float64
age_range            object
marital_status       object
rented               int64
family_size          object
no_of_children       object
income_bracket       int64
campaign_type        object
start_date           datetime64[ns]
end_date             datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(6), object(5)
memory usage: 2.5+ GB

In [48]:
df['campaign_type'].unique()

df['campaign_type'] = df['campaign_type'].map({'X':1,'Y':0})

In [49]:
#xcccc
df['family_size'].unique()

array(['1', '2', '3', '4', '5+'], dtype=object)

In [50]:
df['age_range'].unique()

array(['46-55', '36-45', '18-25', '26-35', '56-70', '70+'], dtype=object)

In [51]:
df_dummies = pd.get_dummies(df['age_range'],prefix='age_range',drop_first=True)

In [52]:
df.drop_duplicates(inplace=True)

In [53]:
df_dummies.isna().sum()

age_range_26-35    0
age_range_36-45    0
age_range_46-55    0
age_range_56-70    0
age_range_70+      0
dtype: int64

In [54]:
round((df_dummies.isna().sum()/len(df_dummies))*100,2)

age_range_26-35    0.0
age_range_36-45    0.0
age_range_46-55    0.0
age_range_56-70    0.0
age_range_70+      0.0
dtype: float64

In [55]:
round((df.isna().sum()/len(df))*100,2)

id                    0.00
coupon_id             0.00
redemption_status     0.00
date                  0.00
quantity              0.00
selling_price         0.00
other_discount        0.00
coupon_discount       0.00
age_range             0.00
marital_status       41.38
rented                0.00
family_size           0.00
no_of_children       63.98
income_bracket        0.00
campaign_type         0.00
start_date            0.00
end_date              0.00
dtype: float64

In [56]:
df = pd.concat([df_dummies,df],axis=1)

In [57]:
round((df.isna().sum()/len(df))*100,2)

age_range_26-35       0.00
age_range_36-45       0.00
age_range_46-55       0.00
age_range_56-70       0.00
age_range_70+         0.00
id                   13.90
coupon_id            13.90
redemption_status    13.90
date                 13.90
quantity             13.90
selling_price        13.90
other_discount       13.90
coupon_discount      13.90
age_range            13.90
marital_status       49.53
rented               13.90
family_size          13.90
no_of_children       68.99
income_bracket       13.90
campaign_type        13.90
start_date           13.90
end_date             13.90
dtype: float64

In [58]:
df.drop(['age_range'],axis=1,inplace=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 21 columns):
age_range_26-35      uint8
age_range_36-45      uint8
age_range_46-55      uint8
age_range_56-70      uint8
age_range_70+        uint8
id                   float64
coupon_id            float64
redemption_status    float64
date                 datetime64[ns]
quantity             float64
selling_price        float64
other_discount       float64
coupon_discount      float64
marital_status       object
rented               float64
family_size          object
no_of_children       object
income_bracket       float64
campaign_type        float64
start_date           datetime64[ns]
end_date             datetime64[ns]
dtypes: datetime64[ns](3), float64(10), object(3), uint8(5)
memory usage: 2.4+ GB

In [60]:
df_dummies = pd.get_dummies(df['family_size'],prefix='family_size',drop_first=True)

In [61]:
round((df_dummies.isna().sum()/len(df_dummies))*100,2)

family_size_2     0.0
family_size_3     0.0
family_size_4     0.0
family_size_5+    0.0
dtype: float64

In [62]:
df = pd.concat([df_dummies,df],axis=1)

In [63]:
df.drop(['family_size'],axis=1,inplace=True)

In [64]:
df['campaign_type'].unique()
round((df.isna().sum()/len(df))*100,2)

family_size_2         0.00
family_size_3         0.00
family_size_4         0.00
family_size_5+        0.00
age_range_26-35       0.00
age_range_36-45       0.00
age_range_46-55       0.00
age_range_56-70       0.00
age_range_70+         0.00
id                   13.90
coupon_id            13.90
redemption_status    13.90
date                 13.90
quantity             13.90
selling_price        13.90
other_discount       13.90
coupon_discount      13.90
marital_status       49.53
rented               13.90
no_of_children       68.99
income_bracket       13.90
campaign_type        13.90
start_date           13.90
end_date             13.90
dtype: float64

In [65]:
#X___00000

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 24 columns):
family_size_2        uint8
family_size_3        uint8
family_size_4        uint8
family_size_5+       uint8
age_range_26-35      uint8
age_range_36-45      uint8
age_range_46-55      uint8
age_range_56-70      uint8
age_range_70+        uint8
id                   float64
coupon_id            float64
redemption_status    float64
date                 datetime64[ns]
quantity             float64
selling_price        float64
other_discount       float64
coupon_discount      float64
marital_status       object
rented               float64
no_of_children       object
income_bracket       float64
campaign_type        float64
start_date           datetime64[ns]
end_date             datetime64[ns]
dtypes: datetime64[ns](3), float64(10), object(2), uint8(9)
memory usage: 2.4+ GB

In [67]:
df['no_of_children'].unique()

array([nan, '1', '2', '3+'], dtype=object)

In [68]:
df['no_of_children'].fillna(999,inplace=True)

In [69]:
df['marital_status'].unique()

array([nan, 'Married', 'Single'], dtype=object)

In [70]:
df['marital_status'].fillna('unknown',inplace=True)

In [71]:
df_dummies = pd.get_dummies(df['no_of_children'],prefix='no_of_children',drop_first=True)
df = pd.concat([df_dummies,df],axis=1)
df.drop(['no_of_children'],axis=1,inplace=True)

In [72]:
df_dummies = pd.get_dummies(df['marital_status'],prefix='marital_status')
df = pd.concat([df_dummies,df],axis=1)
df.drop(['marital_status'],axis=1,inplace=True)

In [73]:
df.head()

,marital_status_Married,marital_status_Single,marital_status_unknown,no_of_children_1,no_of_children_2,no_of_children_3+,family_size_2,family_size_3,family_size_4,family_size_5+,...,date,quantity,selling_price,other_discount,coupon_discount,rented,income_bracket,campaign_type,start_date,end_date
0,0,0,1,0,0,0,0,0,0,0,...,2012-01-10,1.0,320.22,0.00,0.0,0.0,5.0,1.0,2013-05-19,2013-07-05
1,0,0,1,0,0,0,0,0,0,0,...,2012-01-10,1.0,89.05,-10.33,0.0,0.0,5.0,1.0,2013-05-19,2013-07-05
2,0,0,1,0,0,0,0,0,0,0,...,2012-01-10,1.0,99.38,-42.74,0.0,0.0,5.0,1.0,2013-05-19,2013-07-05
3,0,0,1,0,0,0,0,0,0,0,...,2012-01-10,2.0,99.02,0.00,0.0,0.0,5.0,1.0,2013-05-19,2013-07-05
4,0,0,1,0,0,0,0,0,0,0,...,2012-02-04,2.0,99.02,0.00,0.0,0.0,5.0,1.0,2013-05-19,2013-07-05

In [74]:
df.columns

Index(['marital_status_Married', 'marital_status_Single',
       'marital_status_unknown', 'no_of_children_1', 'no_of_children_2',
       'no_of_children_3+', 'family_size_2', 'family_size_3', 'family_size_4',
       'family_size_5+', 'age_range_26-35', 'age_range_36-45',
       'age_range_46-55', 'age_range_56-70', 'age_range_70+', 'id',
       'coupon_id', 'redemption_status', 'date', 'quantity', 'selling_price',
       'other_discount', 'coupon_discount', 'rented', 'income_bracket',
       'campaign_type', 'start_date', 'end_date'],
      dtype='object')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18444701 entries, 0 to 18471243
Data columns (total 28 columns):
marital_status_Married    uint8
marital_status_Single     uint8
marital_status_unknown    uint8
no_of_children_1          uint8
no_of_children_2          uint8
no_of_children_3+         uint8
family_size_2             uint8
family_size_3             uint8
family_size_4             uint8
family_size_5+            uint8
age_range_26-35           uint8
age_range_36-45           uint8
age_range_46-55           uint8
age_range_56-70           uint8
age_range_70+             uint8
id                        float64
coupon_id                 float64
redemption_status         float64
date                      datetime64[ns]
quantity                  float64
selling_price             float64
other_discount            float64
coupon_discount           float64
rented                    float64
income_bracket            float64
campaign_type             float64
start_date                datetime64[ns]
end_date                  datetime64[ns]
dtypes: datetime64[ns](3), float64(10), uint8(15)
memory usage: 2.2 GB

In [76]:
len(df)

18444701

In [ ]:
#df.merge(df_item,on='coupon_id',how='inner')

In [77]:
round((df.isna().sum()/len(df))*100,2)

marital_status_Married     0.0
marital_status_Single      0.0
marital_status_unknown     0.0
no_of_children_1           0.0
no_of_children_2           0.0
no_of_children_3+          0.0
family_size_2              0.0
family_size_3              0.0
family_size_4              0.0
family_size_5+             0.0
age_range_26-35            0.0
age_range_36-45            0.0
age_range_46-55            0.0
age_range_56-70            0.0
age_range_70+              0.0
id                        13.9
coupon_id                 13.9
redemption_status         13.9
date                      13.9
quantity                  13.9
selling_price             13.9
other_discount            13.9
coupon_discount           13.9
rented                    13.9
income_bracket            13.9
campaign_type             13.9
start_date                13.9
end_date                  13.9
dtype: float64

In [78]:
df.dropna(inplace=True)

In [79]:
round((df.isna().sum()/len(df))*100,2)

marital_status_Married    0.0
marital_status_Single     0.0
marital_status_unknown    0.0
no_of_children_1          0.0
no_of_children_2          0.0
no_of_children_3+         0.0
family_size_2             0.0
family_size_3             0.0
family_size_4             0.0
family_size_5+            0.0
age_range_26-35           0.0
age_range_36-45           0.0
age_range_46-55           0.0
age_range_56-70           0.0
age_range_70+             0.0
id                        0.0
coupon_id                 0.0
redemption_status         0.0
date                      0.0
quantity                  0.0
selling_price             0.0
other_discount            0.0
coupon_discount           0.0
rented                    0.0
income_bracket            0.0
campaign_type             0.0
start_date                0.0
end_date                  0.0
dtype: float64

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15880445 entries, 0 to 18471243
Data columns (total 28 columns):
marital_status_Married    uint8
marital_status_Single     uint8
marital_status_unknown    uint8
no_of_children_1          uint8
no_of_children_2          uint8
no_of_children_3+         uint8
family_size_2             uint8
family_size_3             uint8
family_size_4             uint8
family_size_5+            uint8
age_range_26-35           uint8
age_range_36-45           uint8
age_range_46-55           uint8
age_range_56-70           uint8
age_range_70+             uint8
id                        float64
coupon_id                 float64
redemption_status         float64
date                      datetime64[ns]
quantity                  float64
selling_price             float64
other_discount            float64
coupon_discount           float64
rented                    float64
income_bracket            float64
campaign_type             float64
start_date                datetime64[ns]
end_date                  datetime64[ns]
dtypes: datetime64[ns](3), float64(10), uint8(15)
memory usage: 1.9 GB

In [81]:
round((df.isna().sum()/len(df))*100,2)

marital_status_Married    0.0
marital_status_Single     0.0
marital_status_unknown    0.0
no_of_children_1          0.0
no_of_children_2          0.0
no_of_children_3+         0.0
family_size_2             0.0
family_size_3             0.0
family_size_4             0.0
family_size_5+            0.0
age_range_26-35           0.0
age_range_36-45           0.0
age_range_46-55           0.0
age_range_56-70           0.0
age_range_70+             0.0
id                        0.0
coupon_id                 0.0
redemption_status         0.0
date                      0.0
quantity                  0.0
selling_price             0.0
other_discount            0.0
coupon_discount           0.0
rented                    0.0
income_bracket            0.0
campaign_type             0.0
start_date                0.0
end_date                  0.0
dtype: float64

In [82]:
df.to_csv('all.csv',index_label=False)

In [83]:
len(df)

15880445

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15880445 entries, 0 to 18471243
Data columns (total 28 columns):
marital_status_Married    uint8
marital_status_Single     uint8
marital_status_unknown    uint8
no_of_children_1          uint8
no_of_children_2          uint8
no_of_children_3+         uint8
family_size_2             uint8
family_size_3             uint8
family_size_4             uint8
family_size_5+            uint8
age_range_26-35           uint8
age_range_36-45           uint8
age_range_46-55           uint8
age_range_56-70           uint8
age_range_70+             uint8
id                        float64
coupon_id                 float64
redemption_status         float64
date                      datetime64[ns]
quantity                  float64
selling_price             float64
other_discount            float64
coupon_discount           float64
rented                    float64
income_bracket            float64
campaign_type             float64
start_date                datetime64[ns]
end_date                  datetime64[ns]
dtypes: datetime64[ns](3), float64(10), uint8(15)
memory usage: 1.9 GB

In [86]:
df['redemption_status'].describe()

count    1.588044e+07
mean     1.543452e-02
std      1.232732e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: redemption_status, dtype: float64

In [87]:
redemption_status = (sum(df['redemption_status'])/len(df['redemption_status'].index))*100
redemption_status

1.5434517105786394

In [88]:
sum(df['redemption_status'])/len(df['redemption_status'].index)

0.015434517105786394

# we only have 1.54% of redemption status as true

In [89]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [91]:
#from scipy import stats
#df_1 = df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

TypeError: unsupported operand type(s) for +: 'Timestamp' and 'Timestamp'

In [92]:
df.describe(percentiles=[0.25,0.5,0.75,0.80,0.85,0.9])

       marital_status_Married  marital_status_Single  marital_status_unknown  no_of_children_1  no_of_children_2  no_of_children_3+  family_size_2  family_size_3  family_size_4  family_size_5+  age_range_26-35  age_range_36-45  age_range_46-55  age_range_56-70  age_range_70+            id     coupon_id  redemption_status      quantity  selling_price  other_discount  coupon_discount        rented  income_bracket  campaign_type
count            1.588044e+07           1.588044e+07            1.588044e+07      1.588044e+07      1.588044e+07       1.588044e+07   1.588044e+07   1.588044e+07   1.588044e+07    1.588044e+07     1.588044e+07     1.588044e+07     1.588044e+07     1.588044e+07   1.588044e+07  1.588044e+07  1.588044e+07       1.588044e+07  1.588044e+07   1.588044e+07    1.588044e+07     1.588044e+07  1.588044e+07    1.588044e+07   1.588044e+07
mean             4.479306e-01           1.382211e-01            4.138484e-01      1.590630e-01      9.299273e-02       1.081234e-01   3.767738e-01   1.525834e-01   7.969821e-02    1.029543e-01     1.888153e-01     2.792594e-01     3.512505e-01     6.733961e-02   5.849584e-02  6.442238e+04  5.784904e+02       1.543452e-02  1.684939e+02   1.239820e+02   -1.917020e+01    -7.529649e-01  6.107278e-02    5.003227e+00   6.908813e-01
std              4.972814e-01           3.451319e-01            4.925220e-01      3.657349e-01      2.904223e-01       3.105362e-01   4.845775e-01   3.595855e-01   2.708254e-01    3.038992e-01     3.913618e-01     4.486352e-01     4.773611e-01     2.506092e-01   2.346787e-01  3.709729e+04  3.263667e+02       1.232732e-01  1.527344e+03   1.649891e+02    3.921596e+01     8.126281e+00  2.394638e-01    2.524797e+00   4.621302e-01
min              0.000000e+00           0.000000e+00            0.000000e+00      0.000000e+00      0.000000e+00       0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00    0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00   0.000000e+00  1.000000e+00  1.000000e+00       0.000000e+00  1.000000e+00   3.600000e-01   -2.340230e+03    -7.124000e+02  0.000000e+00    1.000000e+00   0.000000e+00
25%              0.000000e+00           0.000000e+00            0.000000e+00      0.000000e+00      0.000000e+00       0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00    0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00   0.000000e+00  3.258100e+04  3.030000e+02       0.000000e+00  1.000000e+00   5.343000e+01   -2.565000e+01     0.000000e+00  0.000000e+00    4.000000e+00   0.000000e+00
50%              0.000000e+00           0.000000e+00            0.000000e+00      0.000000e+00      0.000000e+00       0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00    0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00     0.000000e+00   0.000000e+00  6.436300e+04  6.080000e+02       0.000000e+00  1.000000e+00   8.869000e+01   -3.560000e+00     0.000000e+00  0.000000e+00    5.000000e+00   1.000000e+00
75%              1.000000e+00           0.000000e+00            1.000000e+00      0.000000e+00      0.000000e+00       0.000000e+00   1.000000e+00   0.000000e+00   0.000000e+00    0.000000e+00     0.000000e+00     1.000000e+00     1.000000e+00     0.000000e+00   0.000000e+00  9.667700e+04  8.670000e+02       0.000000e+00  1.000000e+00   1.350000e+02    0.000000e+00     0.000000e+00  0.000000e+00    6.000000e+00   1.000000e+00
80%              1.000000e+00           0.000000e+00            1.000000e+00      0.000000e+00      0.000000e+00       0.000000e+00   1.000000e+00   0.000000e+00   0.000000e+00    0.000000e+00     0.000000e+00     1.000000e+00     1.000000e+00     0.000000e+00   0.000000e+00  1.030610e+05  9.130000e+02       0.000000e+00  2.000000e+00   1.424800e+02    0.000000e+00     0.000000e+00  0.000000e+00    7.000000e+00   1.000000e+00
85%              1.000000e+00           0.000000e+00            1.000000e+00      1.000000e+00      0.000000e+00       0.000000e+00   1.000000e+00   1.000000e+00   0.000000e+00    0.000000e+00     1.000000e+00     1.000000e+00     1.000000e+00     0.000000e+00   0.000000e+00  1.094360e+05  9.680000e+02       0.000000e+00  2.000000e+00   1.777400e+02    0.000000e+00     0.000000e+00  0.000000e+00    8.000000e+00   1.000000e+00
90%              1.000000e+00           1.000000e+00            1.000000e+00      1.000000e+00      0.000000e+00       1.000000e+00   1.000000e+00   1.000000e+00   0.000000e+00    1.000000e+00     1.000000e+00     1.000000e+00     1.000000e+00     0.000000e+00   0.000000e+00  1.158710e+05  1.012000e+03       0.000000e+00  2.000000e+00   2.133600e+02    0.000000e+00     0.000000e+00  0.000000e+00    9.000000e+00   1.000000e+00
max              1.000000e+00           1.000000e+00            1.000000e+00      1.000000e+00      1.000000e+00       1.000000e+00   1.000000e+00   1.000000e+00   1.000000e+00    1.000000e+00     1.000000e+00     1.000000e+00     1.000000e+00     1.000000e+00   1.000000e+00  1.285920e+05  1.115000e+03       1.000000e+00  8.505500e+04   7.480200e+03    0.000000e+00     0.000000e+00  1.000000e+00    1.200000e+01   1.000000e+00

In [93]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [94]:
lg =LogisticRegression()
rfe = RFE(lg,13)

In [95]:
y = df.pop('redemption_status')
X = df

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [100]:
X_train.columns

Index(['marital_status_Married', 'marital_status_Single', 'marital_status_unknown', 'no_of_children_1', 'no_of_children_2', 'no_of_children_3+', 'family_size_2', 'family_size_3', 'family_size_4', 'family_size_5+', 'age_range_26-35', 'age_range_36-45', 'age_range_46-55', 'age_range_56-70', 'age_range_70+', 'id', 'coupon_id', 'date', 'quantity', 'selling_price', 'other_discount', 'coupon_discount', 'rented', 'income_bracket', 'campaign_type', 'start_date', 'end_date'], dtype='object')

In [101]:
col1 = ['marital_status_Married', 'marital_status_Single', 'marital_status_unknown', 'no_of_children_1', 'no_of_children_2', 'no_of_children_3+', 'family_size_2', 'family_size_3', 'family_size_4', 'family_size_5+', 'age_range_26-35', 'age_range_36-45', 'age_range_46-55', 'age_range_56-70', 'age_range_70+', 'id', 'coupon_id', 'quantity', 'selling_price', 'other_discount', 'coupon_discount', 'rented', 'income_bracket', 'campaign_type']

In [ ]:
rfe.fit(X_train[col1],y_train)

In [ ]:
import statsmodel.api as sm

In [ ]:
lg1 = sm.GLM(y_train,sm.add_constant(X_train),family = sm.binomial_family).fit()